/*********************************************************
* Description: Primary style sheet for Jobba Inc
* Author:      Joaquin Gomez
*********************************************************/

/* This is the css for the header */

*, *::before, *,::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-weight: 400;
}
.content{
    height: 200vh;
    display: grid;
    place-items: center;
}
/* nav style here*/

.headercontainer{
    background-color: rgba(0, 214, 170, 0.85);
    padding: 0;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.logo{
    background-color: rgba(0, 214, 170, 0.85);
    margin: 0;
    padding: 0;
}
.homesubmenu{
    height: 50px;
    width: 50px;
    font-size: 1.1rem;
    padding: 0;
    top: -150px;
    left: 50;
    z-index: -1;    
}
.homesub:checked ~ .homesubmenu{
    top: 50px;
    opacity: 0.5;
}
.nav-toggle{
    display: none;
}
.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position: absolute;
}


.nav-toggle-label span::before{
    bottom: 7px;
}
.nav-toggle-label span::after{
    top: 7px;
}

nav{
    background-color: rgba(0, 214, 170, 0.85);
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out ;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
nav a:hover{
    color: 000;
}

.nav-toggle:checked ~ nav{
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}








footer{
    margin-top: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    text-align: center;
}

@media screen and (min-width: 400px){
    .nav-toggle-label{
        display: none;
    }
    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(800px,3fr) 1fr;
    }
    .logo{
        grid-column: 2 / 3;
    }
    nav{
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav ul{
    display: flex;
    justify-content: flex-end;
}
nav li{
    margin-left: 3em;
    margin-bottom: 0;
}

nav a{ 
    opacity: 1;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0,1);
    transition: transform ease-in-out 250ms;
}
nav a:hover{
    transform: scale(1,1);
}
}
.inside-nav-home{
    display: none;
}
.inside-nav-home{
    position: absolute;
    top: 0;
    left: 0;
    margin: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}


.inside-nav-home:checked ~ nav{
    transform: scale(1,1);
}

.inside-nav-home:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}
table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
thead, tfoot {
    background-color: rgb(228 240 245);
  }
  th,td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }
  